@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  background-color: purple;
  color: white;
  border: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  cursor: pointer;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  transform-origin: center center;
  animation: grow 1s both;
}

@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }

  100% {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
