@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
}

body {
  background-color: #8e44ad;
  color: white;
}

div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
}

div.social {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.social i {
  font-size: 5rem;
  padding: 10px 20px;
}

div.social div.counter {
  font-size: 5rem;
}

div.social h3 {
  font-size: 1.6rem;
  font-weight: lighter;
}

@media (max-width: 860px) {
  div.container {
    flex-direction: column;
  }

  div.social {
    margin: 30px 0;
  }
}
